{% extends 'base.html' %}

{% block content %}
<header class="header-cart">
  <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
      <a class="navbar-brand" href="{{url_for('render_navigation')}}" title="Home">
        <img class="logo" src="/static/images/logos.png" width="50" height="50" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">  
</header>
<body>
  <div class="row">
    <div class="col">
      
      <div class="product-add-add">
      <form action="product-adding.php" class="product-adding">
        
        <label for="product-product"></label>
        <input class="button-admin" type="#" value=""><br>
        
       
        
        <label for="product-product"></label>
          <input class="button-admin" type="#" value=""><br>
          
       
        <label for="product-product"></label>
           
            <input class="button-admin" type="#" value=""><br>

        <label for="product-product"></label>
 
         <input class="button-admin" type="#" value=""><br>
        
       
        
        <label for="product-product"></label>
          <input class="button-admin" type="#" value=""><br>
          
       
        <label for="product-product"></label>
          
        <input class="button-admin" type="#" value=""><br>
        
      </form>
      <form action="dugmici-dugmici.php">
        <input class="button-admin" type="submit" value="Add"><br>
      </form>
    </div>
    </div>
    <div class="col-5">
      <span class="admin-addproduct">Add Product</span>
                <div class="cart-listing">
                  <p class="admin-text">Click on "Choose File" for add photo</p>

<form action="/action_page.php">
  <input class="myfile" type="file" id="myFile" name="filename">
</form>
<form action="obrada.php" method="POST" class="forma">
  <label for="ime">Ime:</label>
  <input type="text" id="ime" name="Naziv"><br>

  <label for="prezime">Deskripcija:</label>
  <input type="text" id="opis" name="opis"><br>

  <label for="email">Cena:</label>
  <input type="email" id="cena" name="cena"><br>

  <label for="email">Dostupnost:</label>
  <input type="email" id="dostupnost" name="dostupnost"><br>

  <label for="popularnost">Popularnost:</label>
  <input type="popularnost" id="popularnost" name="popularnost"><br>

  <label for="imgurl">Image Url:</label>
  <input type="imgurl" id="imgurl" name="imgurl"><br>

  <label for="developer">Developer:</label>
  <input type="dveloper" id="developer" name="developer"><br>

  <label for="publisher">Publisher:</label>
  <input type="publisher" id="publisher" name="publisher"><br>

  <label for="releasedate">Release Date:</label>
  <input type="releasedate" id="releasedate" name="releasedate"><br>

  <label for="genre">Genre:</label>
  <input type="genre" id="genre" name="genre"><br>

  <label for="background">Background:</label>
  <input class="myfile" type="file" id="myFile" name="background">

</form>
<form action="dugmici.php">
  <input class="button" type="submit" value="Delete">
  <input class="button" type="submit" value="Save">
</form>
                </div>
                </div>         
    <div class="coll">
      <span class="admin-users">Users</span>
      <ul>
        <li class="imena"> 1. Aleksandar <input class="button" type="submit" value="delete"></li>
      </ul>
        </div>
      </div>

    </div>
  </div>
</div>

</body>


{% endblock %}
