.admin-content{
    max-width: 945px;
    align-self: center;
    width: 100%;
    display: flex;
    margin-top: 140px;
    align-items: flex-start;


}
.cart-left{
    flex:1 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

}


.admin{
    max-width: 945px;
    align-self: center;
    width: 100%;
    display: flex;
    margin-top: 140px;
    align-items: flex-start;
}
.addproduct{
    max-width: 400px;
    align-self: self-start;
    width: 100%;
    display: flex;
    margin-top: 140px;
    align-items: flex-start;
}

.col{
    font-size: 28px;
    font-family: roboto;
    display: flex;
    width: 450px;
    margin: 50px;
    margin-top: 150px;
    justify-content: center;

}
.coll{
    font-size: 28px;
    font-family: roboto;
    width: 400px;
    margin: 40px;
    margin-top: 150px;
}
.col-5 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    font-size: 28px;
    margin-top: 150px;
    font-family: roboto;
}
.admin-addproduct{
    max-width: 945px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 28px;
}
.admin-product{
    font-family: roboto;
    font-size: 28px;
    width: 420px;
    height: 40px;
}
.admin-users{
    font-family: roboto;
    font-size: 28px;
    width: 450px;
    height: 40px;
}
form{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 50px;
}
.myfile{
    color: darkred;
    background-color: #3D3D3D;
    display: flex;
    align-self: center;
}
#file-upload-button{
    color: darkred;
}

.forma{
    display: flex;
    flex-direction: column;
}
#ime{
    background-color: #3D3D3D;
    color: white;
}
#opis{
    background-color: #3D3D3D;
    color: white;
}
#tip-igrice{
    background-color: #3D3D3D;
    color: white;
}
#cena{
    background-color: #3D3D3D;
    color: white;
}
#dostupnost{
    background-color: #3D3D3D;
    color: white;
}
#popularnost{
    background-color: #3D3D3D;
    color: white;
}
#releasedate{
    background-color: #3D3D3D;
    color: white;
}
#genre{
    background-color: #3D3D3D;
    color: white;
}

#imgurl{
    background-color: #3D3D3D;
    color: white;
}
#developer{
    background-color: #3D3D3D;
    color: white;
}
#publisher{
    background-color: #3D3D3D;
    color: white;
}
.product-adding{
    display: flex;
    flex-direction: column;

}
.product-add-add{
    display: flex;
    flex-direction: column;

}
.button-admin{
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    background-color: #3d3d3d;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
    padding: 0 30px;
    transition: .2s;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    width: 350px;
}
.buttonforadmin{
    display: flex;
    width: 350px;
}
.us-users{
    display: flex;
    flex-direction: column;
}
.imena{
    color: white;
    font-family: roboto;
    font-size: 28px;
}
.user-users{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: normal;
}
.imena{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}