h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #fff;
    font-family: roboto;
}
b, strong{
    font-family: roboto;
}
.readable-readable {
    line-height: 25px;
    color: #909090;
}
h3{
    color: #fff;
    font-family: roboto;
    font-size: 20px;
}
.readable-readable {
    max-width: 1200px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.terms-container {
    margin-top: 200px;
    max-width: 1200px;
    align-self: center;
    width: 100%;
    max-width: 800px;
    font-family: roboto;
}
p{
    margin-bottom: 30px;
    font-family: roboto;
    color: #909090;
}
li{
    font-family: roboto;
    color: #909090;
}